<style>
        body{
            background-color: red;
            font-size: 20pt;
            font-weight: bold;
            color: white;

        }
        #asd10{
            color: blue;
        }
        .open{
            color: blueviolet;
        }

    </style>
    